.ks-overlay{
	position: fixed;
	left: 0;
	top: 0;
}

.overlayMask{
	
	img{
		cursor: pointer;
		position: absolute;
	}
	
	.description{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
	}

	h3{
		font-weight: 400;
		letter-spacing: 2px;
		color: #fff;
		padding: 10px 0 20px;
		font-size: 16px;
	}
}