$overlayPercent: 100%;

.overlay{
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: $overlayPercent;
	height: $overlayPercent;
	display: none;
	z-index: 9999;

	img{
		position: absolute;
		cursor: pointer;
	}

	.description{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}

	h3{
		width: $overlayPercent;
		font-weight: 400;
		letter-spacing: 2px;
		color: #fff;
		padding: 10px 0 20px;
		font-size: 16px;
	}
}