@import 'base';

$imgWidth: 760px;
$layerWidth: 9999px;

#J_Slide{
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: $imgWidth;

  .ks-xslide-item {
    display: block;
    float: left;
    overflow: hidden;

    img{
      @extend .ks-xslide-item;
      max-width: 100%;
      background-size: contain;
    }
  }
}

.ks-xslide-layer{
  width: $layerWidth;
}

.ks-xslide-nav{
  position: absolute;
  width: 100%;
  bottom: 0;
  left:0;
  text-align: center;
  z-index: 9999;

  .ks-xslide-nav-item{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ddd;
    text-indent: $layerWidth;
    overflow: hidden;
    @include border-radius(5px);
    margin:0px 2px;
    }

  .current{
    background: #f60;
  }
}

@media (max-width: 800px) {
  #J_Slide{
    max-height: 150px;
  }
}