$bagc: #f5f5f5;
$titleColor: #333;

body{
	background-color: $bagc;
	position: relative;
}
.title{
	color: $titleColor;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 0 5px 10px;
}

.container{
	position: relative;
	margin: 0 auto;
	width: 90%;
	padding-left: 5px;
	padding-right: 5px;

	&:after {
		display: block;
		clear: both;
		height: 0;
		content: '';
	}

	.product{
		width: 220px;
		margin-right: 20px;
		height: 372px;
	}
}


@media (max-width: 800px) {
	$bagc: #eee;
	body{
		background: $bagc;
	}
	.container{
		width: 100%;
		padding: 0;
		margin: 0;

		.product {
			width: 49%;
			margin: 0;
			padding: 5px 10px;
			margin-bottom: 5px;
			height: auto;
			box-sizing: border-box;
		}
	}
}